.frame {
  width: 100%;
  height: 50px;
  padding: 0;
  
}

.frame .slidee {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
  
}

.frame .slidee li{
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
  width: 120px;
  height: 100%;
  
}